<%= javascript_include_tag "references/plain_bibtex.js" %>
<div class="page-header button-header">
  <h1>Plain BibTex</h1>
  <div class="pull-right">
    <button class="btn btn-default" id="copy-to-clipboard" data-clipboard-target="plain-bibtex-container" data-container="body" data-toggle="popover" data-placement="left" data-content="BibTex has been copied to clipboard"><i class="fa fa-clipboard"></i> Copy to clipboard</button>
  </div>
</div>
<div style="display: none" id="plain-bibtex-container">
	<%= @file_formated_bibtex %>
</div>
<div class="well well-sm">
	<% @references.each do |reference| %>
		<%= raw(reference.get_bibtex) %>
		<br/>
		<br/>
	<% end %>
</div>